<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.myfirstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/layout"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.activeandroid.app.Application"
        >


        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".reg">
            
        </activity>
        <activity android:name=".homeAdmin">

        </activity>
        <activity android:name=".homeEmployer">

        </activity>
        <activity android:name=".homeFreelancer">

        </activity>
        <meta-data android:name="AA_DB_NAME" android:value="Project" />
        <meta-data android:name="AA_DB_VERSION" android:value="5" />
        <meta-data
            android:name="AA_MODELS"
            android:value="models.Account , models.Task , models.System" />

    </application>

</manifest>